<div class='container form-container form-register'>
  <form action='/users/register' method='post'>
    <label>First Name:</label>
    <input id='first-name' type='text' name='firstName' />
    <label>Last Name:</label>
    <input id='last-name' type='text' name='lastName' />
    <label>Email address:</label>
    <input id='email' type='email' name='email' />
    <label>Password:</label>
    <input id='first-name' type='password' name='password' />
    <button onclick="location.href='/login'" type='submit'>Register</button>
  </form>
</div>