<div class='container form-container form-login'>
  <form action='/users/login' method='post'>
    <label>Email address:</label>
    <input id='email' type='email' />
    <label>Password:</label>
    <input id='first-name' type='password' />
  </form>
  <button onclick="location.href="/views/register"">New user? Register here!</button>
</div>